:root {
    /* Colors */

    /* Primary */
    --clr-primary-red: hsl(0, 78%, 62%);
    --clr-primary-cyan: hsl(180, 62%, 55%);
    --clr-primary-orange: hsl(34, 97%, 64%);
    --clr-primary-blue: hsl(212, 86%, 64%);

    /* Neutral */
    --clr-neutral-very-dark-blue: hsl(234, 12%, 34%);
    --clr-neutral-grayish-blue: hsl(229, 6%, 66%);
    --clr-neutral-very-light-gray: hsl(0, 0%, 98%);

    /* Fonts Family */
    --ff-poppins: 'Poppins', sans-serif;

    /* Weights */
    --fw-extra-light: 200;
    --fw-regular: 400;
    --fw-semi-bold: 600;
}

/* CSS Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
*/
* {
    margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
    6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
    7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/* General styling */

body {
    background-color: var(--clr-neutral-very-light-gray);
    font-family: var(--ff-poppins);
    font-size: 15px;
    color: var(--clr-neutral-grayish-blue);
    min-height: 100vh;
    max-width: 75rem;
    margin: 0 auto;
    padding: 3.125rem 1.875rem;
}

header {
    text-align: center;
    margin-bottom: 3.2rem;
}

header h1 {
    font-size: 2.2rem;
    font-weight: var(--fw-extra-light);
    color: var(--clr-neutral-very-dark-blue);
}

header h1 span {
    font-weight: var(--fw-semi-bold);
    color: var(--clr-neutral-very-dark-blue);
}

header p {
   max-width: 45%;
   margin: 0 auto;
   margin-top: 1.1rem;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.6rem;
}

.card {
    background-color: white;
    padding: 2rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 16px 17px -3px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: 0px 16px 17px -3px rgba(34, 60, 80, 0.17);
    box-shadow: 0px 16px 17px -3px rgba(34, 60, 80, 0.17);
}

.card h2 {
    color: var(--clr-neutral-very-dark-blue);
    font-size: 1.2rem;
    font-weight: var(--fw-semi-bold);
    margin-bottom: 0.8rem;
}

.card p {
    margin-bottom: 1.2rem;
}

.card img {
    max-width: 4.5rem;
    align-self: flex-end;
}

.supervisor-card {
    border-top: 4px solid var(--clr-primary-cyan); 
    grid-row: 1 / 3;
    align-self: center
}

.builder-card {
    border-top: 4px solid var(--clr-primary-red);
    
}

.karma-card {
    border-top: 4px solid var(--clr-primary-orange);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
}

.calculator-card {
    border-top: 4px solid var(--clr-primary-blue);
    grid-row: 1 / 3;
    align-self: center
}

@media only screen and (max-width: 650px) {
    .main {
        grid-template-columns: 1fr;
    }
    .card {
        grid-column: 1 / -1;
    }
    .supervisor-card {
        grid-row: 1 / 2
    }
    .builder-card { 
        grid-row: 2 / 3;
    }
    .karma-card {
       grid-row: 3 / 4;
    }
    .calculator-card {
        grid-row: 4 / 5;
    }

    header p {
        max-width: 80%;
    }
}

@media only screen and (max-width: 345px) {
    body {
        font-size: 12px;
    }
    header h1 {
        font-size: 1.1rem;
    }
    .card {
        padding: 1.5rem;
    }
    .card h2 {
        text-align: center;
        font-size: 1rem;
    }
    .card p {
        text-align: center;
    }
    .card img {
        max-width: 3rem;
        align-self: center;
    }
}
